<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
 
     <h1>This is Home Page</h1>
     <div>
     <label id="tokenlabel"></label>
    </div>
</br>
    <div>
        <Button onclick = "logOut()">Logout</Button>      
    </div>
</br>
    <input onclick="checkPermission()" type='file' />
    <br><img id="myImg" src="#" height=300 width=350>
    
    <p>Open a PDF file <a id="pdfHref" onclick="submitPDF()" href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf">example</a>.</p>
    
  </body>
</html>
<script>
    // remove token and set alphamode to false when route to another web view
    var SSOToken = ""
    var ALAPAMODE = false // set to true after pullrefresh

    window.addEventListener('load', function() {
      document.querySelector('input[type="file"]').addEventListener('change', function() {
      if (this.files && this.files[0]) {
          var img = document.querySelector('img');  // $('img')[0]
          img.src = URL.createObjectURL(this.files[0]); // set src to blob url
          img.onload = imageIsLoaded;
      }
        });
    });

    function checkPermission(){
        if (window.webkit && window.webkit.messageHandlers && window.webkit.messageHandlers.toggleMessageHandler) {
            window.webkit.messageHandlers.toggleMessageHandler.postMessage({
                "type": "imagePermission",
                "msg" : "check permission",

            });
        }
    }

    function deleteToken(){
        if (window.webkit && window.webkit.messageHandlers && window.webkit.messageHandlers.toggleMessageHandler) {
            window.webkit.messageHandlers.toggleMessageHandler.postMessage({
                "type": "deletetoken",
                "msg" : "Delete token successfully",

            });
        }
    }

    var delay = ( function() {
    var timer = 0;
    return function(callback, ms) {
        clearTimeout (timer);
        timer = setTimeout(callback, ms);
    };
    })();

    function WebtimeOutSession(){
        delay(function(){
        if (window.webkit && window.webkit.messageHandlers && window.webkit.messageHandlers.toggleMessageHandler) {
            window.webkit.messageHandlers.toggleMessageHandler.postMessage({
                "type": "outOfSession",
                "msg" : "Your session is out",
            });
        }
        }, 999999999 ); // end delay
    }

    function uploadImage(base64) {
        
        var img = document.getElementById('img');
        img.src = 'data:image/png;base64,' + base64;
        if (window.webkit && window.webkit.messageHandlers && window.webkit.messageHandlers.toggleMessageHandler) {
            window.webkit.messageHandlers.toggleMessageHandler.postMessage({
                "type": "stopLoading",
                "msg" : "Stop Loading",

            });
        }
    }

    function submitPDF(){
       var href = document.getElementById("pdfHref").href
       if (window.webkit && window.webkit.messageHandlers && window.webkit.messageHandlers.toggleMessageHandler) {
            window.webkit.messageHandlers.toggleMessageHandler.postMessage({
                "type": "submitPDF",
                "msg" : href,
            });
        }
    }

    function requestLogOut(){
        if (confirm('Are you sure to logout?')) {
                this.logOut();
            } else {
                
            }
    }
    
    function receiveToken(receiveToken){
        if (window.webkit && window.webkit.messageHandlers && window.webkit.messageHandlers.toggleMessageHandler) {
            window.webkit.messageHandlers.toggleMessageHandler.postMessage({
                "type": "receiveToken",
                "msg" : "Receive Token",

            });
            this.WebtimeOutSession()
            this.token = receiveToken
        }
        this.ALAPAMODE = true
        document.getElementById('tokenlabel').innerHTML = 'Your token is ' + receiveToken;
    }

    

    function logOut() {
        if (window.webkit && window.webkit.messageHandlers && window.webkit.messageHandlers.toggleMessageHandler) {
            window.webkit.messageHandlers.toggleMessageHandler.postMessage({
                "type": "logout",
                "msg": "Logout successfully",
                "token" : this.SSOToken,
            });
        }
    }

    function requestImagePermission() {
        if (window.webkit && window.webkit.messageHandlers && window.webkit.messageHandlers.toggleMessageHandler) {
            window.webkit.messageHandlers.toggleMessageHandler.postMessage({
                "type": "imagePermission",
                "msg": "request image permission",
                "token" : this.token,
            });

        }
        
    }

  </script>