<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>POC_WebView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>184D0FD22583592C005FDB08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>184D0FE82583592E005FDB08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>184D0FF32583592F005FDB08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
